<h1>Welcome to Online Library, <%= @user.name %></h1>
  <p>
    <h3> You have successfully signed up to Online Library, </h3>
    your username is: <%= @user.name %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>