<nav class="navbar navbar-inverse">
  <!-- <nav  class="navbar navbar-light" style="background-color: #e3f2fd;"> -->
<!-- navbar navbar-dark bg-dark -->


  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home/index">Online Library Management System</a>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="#">Home</a></li> -->
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user.present? %>
        <li>
          <%= link_to "SignOut", logout_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <a href="users/new"><span class="glyphicon glyphicon-user"></span> User Sign Up</a>
        </li>
        <li>
          <a href="sessions/new"><span class="glyphicon glyphicon-log-in"></span> User Login</a>
        </li>
      <% end %>

      <!-- <li><a href="admin/login"><span class="glyphicon glyphicon-log-in"></span> Admin Login</a></li> -->
    </ul>
  </div>
</nav>